<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="menu">
        <ion-icon name="create"></ion-icon>
        <ion-label>Create Task</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="list"></ion-icon>
        <ion-label>Stored Beacons</ion-label>
        <!--<ion-badge>6</ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="beacon-scan">
        <ion-icon name="search"></ion-icon>
        <ion-label>Add Beacon</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>