<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color=dark (click)="onBackButton()">
        <ion-icon name="chevron-back"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Create or Update Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)='onGameCreattTaskClicked()' style="display: block; margin-top: 10%; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;">Create Game</ion-button>

  <ion-button (click)='onUpdateTaskClicked()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;">Update Game</ion-button>


</ion-content>
