<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Beacon Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)='onPlayGameClicked()' style="display: block; margin-top: 10%; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;"> Play Game</ion-button>

  <ion-button (click)='onPlayClicked()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;"> Play</ion-button>

  <ion-button (click)='onSettingsClicked()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;"> Beacon Settings</ion-button>

  <ion-button (click)='onGameSettingsClicked()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;">Game Settings</ion-button>

  <ion-button (click)='onScanNearbyClicked()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;">Scan Nearby</ion-button>



  <!-- <ion-button (click)='onExit()' style="display: block; margin-left: 10%; margin-right: 10%; margin-bottom: 2%;"> Exit</ion-button> -->


</ion-content>
