<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color=dark (click)="onBackButton()">
        <ion-icon name="chevron-back"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">Create Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Divider -->
  <ion-item-divider></ion-item-divider>


  <ion-grid style="border: 1px solid black; margin: 0px; padding: 0px;">
    <ion-row style="width: 100%; height: 50px; margin: 0px;">

      <ion-col size="4">
        <ion-item>
          <ion-label>Set Name: </ion-label>
          <ion-input [(ngModel)]="gameName" placeholder=" Game Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2.7">
        <ion-item>
          <ion-label>Number of tasks: </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="1.2">
        <ion-item style="float: right" >
          <ion-button (click)="onTaskNumChange('dec')">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="1">
        <ion-item>
          <ion-label style="text-align: center;"> {{numTasks}} </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="1.2">
        <ion-item>
          <ion-button (click)="onTaskNumChange('inc')">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-card>
    <ion-card-content>

      <!-- Show taks detail -->
      <ion-card *ngFor="let beacon of beaconsStoredList_copy; let i = index ">
        <ion-card-content style="padding: 2px;">
          <ion-item>
            <ion-label>
              <h1>Task ({{i+1}})</h1>
            </ion-label>
            <!--             <ion-label style="text-align: right;">
              <h1>No. {{i+1}}</h1>
            </ion-label> -->
          </ion-item>

          <ion-item-divider style="min-height: 1px; "> </ion-item-divider>

          <ion-item>
            <ion-label><b>Major</b> <br> {{beacon.major}}</ion-label>
            <ion-label><b>Minor</b> <br> {{beacon.minor}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><b>Longitude</b> <br> {{beacon.lng}}</ion-label>
            <ion-label><b>Latitude</b> <br> {{beacon.lat}}</ion-label>
          </ion-item>

          <ion-item style="margin-right: 10%;">
            <ion-label><b>Accuracy</b></ion-label>

            <ion-range style="padding-top: 22px;" min="2" max="15" snaps ticks pin step="1" value=3
              (ionChange)="onRangeChange(beacon.minor, $event['detail'].value)">
              <ion-label slot="start">2m</ion-label>
              <ion-icon slot="start" size="small" name="locate">
              </ion-icon>
              <ion-icon slot="end" name="locate"></ion-icon>
              <ion-label slot="end">15m</ion-label>
            </ion-range>
          </ion-item>

          <ion-button (click)="openBeaconData(beacon.minor, beacon.lng, beacon.lat)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onDeleteBeacon(beacon.minor)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>

        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSaveGameClicked()">
      <ion-icon name='save' style="font-size: 25px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>