<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Add Beacon Location </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map class="map"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveLocation()">
      <ion-icon name='save' style="font-size: 25px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="getPosition()">
      <ion-icon name='map' style="font-size: 25px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="watchPosition()">
      <ion-icon name='search' style="font-size: 25px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>