<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Beacon Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- progressbar -->
  <ion-progress-bar type="indeterminate" [style.display]="scanStatus ? 'block' : 'none'"></ion-progress-bar>

  <ion-item-divider color="primary">
    <ion-label style="max-width: 290px;">
      <b>{{scanStatus?"Scanning for nearby beacons":"Press play to start scanning."}} </b>
    </ion-label>
    <ion-spinner name="lines-small" color="light" [style.display]="scanStatus ? 'block' : 'none'"></ion-spinner>
  </ion-item-divider>
    <ion-label>UUID: </ion-label>
    <ion-input value={{uuid}}></ion-input>
    <ion-button style="width: 20%;" (click)="onStartClicked()">Scan</ion-button>
  </ion-item>

  <ion-toolbar>
    <ion-button expand="full" (click)="onScanClicked()">{{scanStatus?"Stop scanning":"Start Scanning"}}</ion-button>
  </ion-toolbar>

  <h2 *ngIf="!beaconFound">Scanning for beacons... </h2>
  <h2 *ngIf="beaconFound">Beacons detected: </h2>

  <ion-card *ngFor="let beacon of beaconData;">
    <ion-card-content>
      <ion-item>
        <ion-label>uuid: {{beacon.uuid}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>accuracy: {{beacon.accuracy}}</ion-label>
        <ion-label>proximity: {{beacon.proximity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>major: {{beacon.major}}</ion-label>
        <ion-label>minor: {{beacon.minor}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>rssi: {{beacon.rssi}}</ion-label>
        <ion-label>tx: {{beacon.tx}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>proximity: {{beacon.proximity}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>