<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Beacon Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>UUID: </ion-label>
    <ion-input value={{uuid}}></ion-input>
    <ion-button style="width: 20%;" (click)="onStartClicked()">Scan</ion-button>
  </ion-item>

  <h2 *ngIf="!beaconFound">3Scanning for beacons... </h2>
  <h2 *ngIf="beaconFound">Beacons detected: </h2>

  <ion-card *ngFor="let beacon of beaconData;" >
    <ion-card-content>
      <ion-item>
        <ion-label>uuid: {{beacon.uuid}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>accuracy: {{beacon.accuracy}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>major: {{beacon.major}}</ion-label>
        <ion-label>minor: {{beacon.minor}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>rssi: {{beacon.rssi}}</ion-label>
        <ion-label>tx: {{beacon.tx}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>